@use "../../../utils" as *;

.tp-about-3 {
  &-thumb {
    margin-left: -93px;

    @media #{$lg,$md, $sm, $xs} {
      margin-left: 0;
      text-align: center;
    }
    & img{
      @media #{$lg,$md, $sm, $xs} {
        width: 75%;
      }
      @media #{$sm, $xs} {
        width: 100%;
      }
    }
  }
  &-shape1 {
    position: absolute;
    top: -50px;
    left: -345px;
    z-index: -1;

    @media #{$lg,$md, $sm, $xs} {
      left: -70px;
      top: -86px;
    }
    @media #{$md, $sm, $xs} {
      left: -172px;
    top: -81px;
    }
    @media #{$sm, $xs} {
      left: -276px;
      top: -94px;
    }
  }

  &-shape2 {
    position: absolute;
    top: 117px;
    left: -102px;
    z-index: -2;
    animation: bounce-thum-2 1s ease-in-out 0.1s forwards infinite alternate;

    @media #{$lg,$md, $sm, $xs} {
      top: 223px;
  left: 125px;
    }
    @media #{$md, $sm, $xs} {
      top: 177px;
      left: 116px;
    }
    @media #{$sm, $xs} {
      top: 79px;
    left: 11px;
    }
  }
  &-shape3 {
    position: absolute;
    top: 197px;
    right: 46px;
    z-index: -1;
    animation: moving 8s linear infinite;

    @media #{$lg,$md, $sm, $xs} {
      top: 204px;
  right: 173px;
    }
    @media #{$md, $sm, $xs} {
      top: 187px;
      right: 113px;
    }
    @media #{$sm, $xs} {
      top: 112px;
      right: -12px;
    }
  }
  &-item {
    display: flex;
    align-items: center;

    &:not(:last-child){
      margin-bottom: 20px;
    }
   
    &:first-of-type{
      margin-top: 40px;
    }

    &:hover{
     & .tp-about-3-counter::before {
        height: 46px;
      }
    }
    &-wrapper > div{
      @media #{$md, $sm, $xs} {
        margin-left: 0;
      }
    
    }
    
  }
  &-counter {
    width: 155px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 7px;
      right: 0;
      background: var(--tp-common-black);
      width: 2px;
      height: 0;
      z-index: 1;
      transition: 0.4s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: 0;
      width: 2px;
      height: 46px;
      background: var(--tp-grey-8);
    }

    
    &-right-text {
      width: 362px;
      padding-left: 46px;
    }

    &-number {
      font-size: 26px;
      letter-spacing: -1px;
      color: var(--tp-theme-primary);
      margin-bottom: 4px;
    }
  }
  &-number-txt {
    font-size: 16px;
    color: var(--tp-heading-primary);
    font-weight: 700;
  }
  &-content-wrapper {
    @media #{$lg,$md, $sm, $xs} {
      margin-top: 44px;
    }
  }
  &-section-title{
    @media #{$md, $sm, $xs} {
      margin-left: 0;
    }
  }
  &-call-number{
    @media #{$md, $sm, $xs} {
      margin-left: 0;
    }
  }
  &-buttons{
    @media #{$md, $sm, $xs} {
      margin-left: 0;
    }
    @media #{$xs} {
      flex-direction: column;
      gap: 22px;
    }
  }
  &-call-item{
    @media #{$xs} {
      margin-left: 0;
    }
  }
}


