@use "../../../utils" as *;

.tp-slider-3 {
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
  }
  &-sub-title {
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--tp-common-white);
    font-weight: 700;
    font-family: var(--tp-ff-heading);
    display: inline-block;
    margin-bottom: 10px;
  }
  &-content {
    position: relative;
    z-index: 1;
    padding: 253px 0 231px;
  }
  &-title {
    font-size: 80px;
    letter-spacing: -2px;
    line-height: 1.02;
    color: var(--tp-common-white);
  }
  &-paragraph {
    font-size: 20px;
    line-height: 30px;
    color: var(--tp-grey-24);
    font-weight: 500;
    font-family: var(--tp-ff-heading);
    margin: 25px 0 49px;
  }
  &-btn-box {
    display: flex;
    gap: 48px;
    align-items: center;
  }
  &-play {
    &-icon {
      display: flex;
      gap: 45px;
      align-items: center;
      & a {
        font-size: 18px;
        height: 60px;
        line-height: 60px;
        width: 60px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        background-color: rgba(94, 11, 218, 0.1);
        color: var(--tp-common-white);
        position: relative;
        box-shadow: 0px 0px 15px 0px rgb(94, 11, 218);

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 70%;
          height: 70%;
          background-color: rgba(94, 11, 218, 0.471);
          z-index: -1;
          border-radius: 50%;
          animation: borderanimate2 2s linear infinite;
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 90%;
          height: 90%;
          transform: scale(1.5);
          border: 1px solid rgba(94, 11, 218, 0.471);
          border-radius: 50%;
          animation: borderanimate2 2s linear infinite;
        }
      }
    }
  }
  &-icon-txt span {
    color: var(--tp-common-white);
    font-weight: 500;
    font-size: 16px;
  }
  &-shape2 {
    position: absolute;
    top: 126px;
    left: 91px;
    z-index: -1;
    animation: bounce-thum-3 4s forwards infinite alternate;
  }
  &-shape1 {
    position: absolute;
    top: 600px;
    left: -61px;
    z-index: -1;
    animation: bounce-thum-2 1s ease-in-out 0.1s forwards infinite alternate;
  }
  &-main-img {
    margin: 127px 0px 0px 67px;
  }
}

