@use "../../utils" as *;

.tp-slider-2 {
  &-height {
    height: 800px;

    @media #{$lg,$md}{
     height: 700px;
    }
    @media #{$xs}{
     height: 590px;
    }
    @media #{$sm}{
     height: 655px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 52%;
      height: 100%;
      background: var(--tp-theme-primary);
      z-index: 1;
      opacity: 0.6;
      top: 0;
      left: 0;
      bottom: 0;
      clip-path: polygon(0px 0px, 70% 0px, 99% 100%, 0% 100%);
      transform: translateX(-962px);
    }
  }
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
    transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
    transition: transform 9000ms ease, opacity 1500ms ease-in;
    transition: transform 9000ms ease, opacity 1500ms ease-in,
      -webkit-transform 9000ms ease;
  }
  &-content {
    position: relative;
    z-index: 10;
  }
  &-stroke {
    font-size: 190px;
    font-weight: 700;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--tp-grey-23);
    color: transparent;
    opacity: 0.3;

    @media #{$xxl, $xl, $lg}{
      font-size: 150px;
    }
    @media #{$md, $sm, $xs}{
      font-size: 130px;
    }
    @media #{$xs}{
      font-size: 72px;
    }
    @media #{$sm}{
      font-size: 110px;
    }
  }
  &-stroke-text {
    position: absolute;
    top: -118px;
    left: -108px;
    z-index: -1;
    @media #{$lg,$md}{
      top: -98px;
  left: -66px;
    }
    @media #{$xs}{
      top: -51px;
      left: -12px;
    }
    @media #{$sm}{
      top: -98px;
      left: -66px;
    }
  }
  &-title {
    font-size: 110px;
    color: var(--tp-common-white);
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1;

    @media #{$xl, $lg}{
      font-size: 100px;
    }
    @media #{$md}{
      font-size: 90px;
    }
    @media #{$xs}{
      font-size: 53px;
    }
    @media #{$sm}{
      font-size: 75px;
    }
  }
  &-btn-box {
    display: flex;
    gap: 21px;
    margin-left: 6px;
    @media #{$xs} {
     flex-direction: column;
     width: 53%;
    }
  }
  &-content {
    @media #{$xl} {
      margin-left: 70px;
    }
    @media #{$lg} {
      margin-left: 110px;
    }
    @media #{$md} {
      margin-left: 70px;
    }
    @media #{$xs} {
      margin-left: 15px;
    }
    @media #{$sm} {
      margin-left: 23px;
    }
  }
}

//slider bg zoom & text animation css

.tp-slider {
  &-2 {
    &-title-box {
      opacity: 0;
      z-index: 3;
      position: relative;
      transform: translateY(-150px);
    }
    &-btn-box {
      transform: translateY(150px);
      opacity: 0;
    }
    &-wrapper {
      & .swiper-slide.swiper-slide-active {
        & .tp-slider-2-bg {
          -webkit-transform: scale(1.35);
          transform: scale(1.35);
        }
        & .tp-slider-2-title-box {
          opacity: 1;
          transform: translatey(0px);
          transition: all 2500ms ease;
        }
        & .tp-slider-2-btn-box {
          opacity: 1;
          transform: translatey(0px);
          transition: all 2500ms ease;
        }
        & .tp-slider-2-height {
          &::before {
            transform: translateX(0px);
            transition: all 2000ms ease;
          }
        }
      }
    }
  }
}
