@use '../../../utils' as *;

/*----------------------------------------*/
/*  7.3 Blog css
/*----------------------------------------*/


// Home style one

.tp-blog {
    &-thumb {
        overflow: hidden;
        &  img {
            width: 100%;
            transition: .6s;
        }
    }
    &-content {
        padding: 20px 20px 18px 0px;
    }
    &-date {
        margin-bottom: 16px;
        & p {
            font-size: 16px;
            text-transform: uppercase;
            color: var(--tp-theme-primary);
            font-weight: 700;
            font-family: "DM Sans";
            position: relative;
            margin-left: 53px;
            margin-bottom: 0;
            &::before {
                content: "";
                position: absolute;
                width: 40px;
                height: 2px;
                top: 13px;
                left: -54px;
                background: var(--tp-theme-primary);
            }  
        }
        & span {
            margin-left: 44px;
            list-style: disc;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 6px;
                height: 6px;
                top: 9px;
                left: -25px;
                border-radius: 50px;
                background: var(--tp-text-2);
            }
        }
    }
    &-content-inner-heading {
        line-height: 30px;
        margin-bottom: 30px;
        &:hover {
            color: var(--tp-theme-primary);
        }
        @media #{$lg,$md} {
            font-size: 19px;
        }

    }
    &-btn {
        font-size: 16px;
        letter-spacing: 0px;
        color: var(--tp-text-body);
        font-weight: 700;
        transition: .4s;
        display: inline-block;
        @media #{$lg} {
            font-size: 14px;
            font-weight: 600;
        }
        & span {
            display: inline-block;
            margin-left: 10px;
            transform: translateY(2px);
        }
        &:hover {
            color: var(--tp-theme-primary);
        }
    }
    &-wrapper {
        &:hover {
            & .tp-blog-thumb img {
                -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
    }
}






