
@use '../../../utils' as *;


/*----------------------------------------*/
/*  7.6 Chose-us css
/*----------------------------------------*/


// Home style 1


.tp-chose-us {
    &-area {
        background: var(--tp-common-gray2);
    }
    &-bg-shape {
        position: absolute;
        top: 0;
        right: 0;
    }
    &-paragraph {
        @media #{$lg} {
            margin-bottom: 50px;
        }
        @media #{$md} {
            display: none;
        }
        @media #{$xs} {
            display: none;
        }
        &-right {
            @media #{$xl} {
                font-size: 15px;
            }
            @media #{$lg} {
                width: 57%;
            }
        }
    }
    &-bottom {
        border-top: 1px solid var(--tp-grey-3);
        border-bottom: 1px solid var(--tp-grey-3);
        overflow: hidden;
        z-index: 1;
    }
    &-thumb-wrapper {
        position: absolute;
        right: 0;
        bottom: 0;
        & img {
            width: 100%;
        }
        @media #{$x4l} {
            right: -93px;
        }
        @media #{$x3l} {
            right: -143px;
        }
        @media #{$xxl} {
            right: -242px;
        }
        @media #{$xl} {
            right: -343px;
        }
        @media #{$lg,$md} {
            position: static;
        }
        @media #{$xs} {
            position: static;
        }
        @media #{$sm} {
            position: static;
        }
    }
    &-tab {
        @media #{$md} {
            margin-bottom: -3px;
        }
    }
    &-tab-btn {
        padding: 30px 0;
        display: inline-block;
        width: 100%;
        &.active {
            background: var(--tp-common-white);
            & .tp-chose-us-tab-title {
                color: var(--tp-heading-primary);
            }
        }
    }   
    &-tab-title {
        font-size: 22px;
        letter-spacing: 0px;
        line-height: 28px;
        color: var(--tp-text-body);
        font-weight: 700;
    }
    &-item {
        background: var(--tp-common-white);
        padding: 40px 20px 46px 50px;
        @media #{$xl} {
            padding: 46px 40px 40px 50px;
        }
        @media #{$md} {
            padding: 46px 95px 40px 50px;
        }
    }
    &-content {
        & h4 {
            font-size: 26px;
            color: var(--tp-heading-primary);
            margin-bottom: 16px;
            @media #{$xs} {
                font-size: 23px;
            }
        }
        & p {
            line-height: 24px;
            margin-bottom: 30px;
        }
    }
    &-tab-li {
        width: 100%;
    }
    &-tab-btn {
        display: flex;
        align-items: center;
        width: 103%;
        border-bottom: 1px solid #ddd;
        padding: 0 0 1px;
        @media #{$lg} {
            width: 103%;
            border-right: 1px solid #ddd;
        }
        @media #{$md,$sm} {
            width: 100%;
            border-right: 1px solid #ddd;
        }
        &.active {
            & .tp-chose-us-tab-icon {
                background: var(--tp-theme-primary);
                color: var(--tp-common-white);
            }
            & .tp-chose-us-tab-icon::before {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &-tab-icon {
        background: rgb(232, 232, 232);
        color: rgb(127, 46, 248);
        padding: 34px 46px;
        font-size: 64px;
        position: relative;
        transition: .3s;
        @media #{$lg} {
            padding: 34px 30px;
        }
        @media #{$xs} {
            padding: 30px 30px;
        }
        &::before {
            content: "";
            position: absolute;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 11px 0 11px 22px;
            border-color: transparent transparent transparent var(--tp-theme-primary);
            transform: rotate(0deg);
            right: -21px;
            bottom: 56px;
            visibility: hidden;
            opacity: 0;
            transition: .3s;
        }
    }
    &-tab-title {
        font-size: 22px;
        letter-spacing: 0px;
        margin-left: 60px;
        @media #{$lg} {
            font-size: 20px;
        }
        @media #{$xs} {
            font-size: 16px;
            margin-left: 25px;
        }
        @media #{$sm} {
            font-size: 20px;
            margin-left: 60px;
        }
    }
    &-tab-icon {
        & i {
            transform: rotate(-90deg);
            display: block;
        }
    }
    &-wrapper {
        margin-left: 140px;
        position: relative;
        z-index: 11;
        @media #{$xl} {
            margin-left: 90px;
        }
        @media #{$lg} {
            margin-left: 30px;
        }
        @media #{$md} {
            margin-left: 0;
            margin-right: 178px;
            padding-top: 40px;
        }
        @media #{$xs} {
            margin-left: 0;
            padding-top: 40px;
        }

    }
    
}