@use '../../../utils' as *;


/*----------------------------------------*/
/*  8.8 Project css
/*----------------------------------------*/



// Home style 1



.tp-project {
    &-area {
        @media #{$xs} {
            padding-top:80px;
        }
        @media #{$sm} {
            padding-top:80px;
        }
    }
    &-bottom {
        @media #{$x3l,$xxl,$xl,$lg,$md,$xs} {
            padding: 0;
        }
        @media #{$sm} {
            padding: 0;
        }
    }
    &-bg-shape {
        position: absolute;
        top: -222px;
        right: 0;
    }
    &-wrapper {
        overflow: hidden;
        margin-bottom: 30px;
        &:hover {
            & .tp-project-content-wrap{
                transform: perspective(500px)rotateX(0deg);
                visibility: visible;
                opacity: 1;
                
            }
            & .tp-project-img img {
                -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
    }
    &-img {
        & img {
            transition: .6s;
            @media #{$lg,$sm} {
                width: 100%;
            }
        }
    }
    &-content-wrap {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        background: var(--tp-common-white);
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: all 0.6s ease 0s;
        padding: 17px 0 14px 32px;
        width: 100%;
        transform: perspective(500px)rotateX(90deg);

    }
    &-content {
        &-subtitle {
            display: inline-block;
            margin-bottom: 4px;
            line-height: 28px;
        }
        &-title {
            font-size: 24px;
            color: var(--tp-heading-primary);
            &:hover {
                color: var(--tp-theme-primary);
            }
            @media #{$xl} {
                font-size: 21px;
            }
        }
    }
    &-btn {
        @media #{$md} {
            margin-top: 40px;
            justify-content: left !important;
        }
        @media #{$xs} {
            margin-top: 30px;
            justify-content: left !important;
            margin-bottom: 20px;
        }
    }
    &-arrow-btn {
        &-right {
            background: var(--tp-theme-primary);
            color: var(--tp-common-white);
            padding: 38px 20px 43px;
            font-size: 20px;
            transition: .4s;
            &:hover {
                background: var(--tp-heading-primary);
                color: var(--tp-common-white);
            }
        }
    }


}