@use "../../../utils" as *;

.choose-us-2-title-btn .tp-btn.tp-btn-border {
  border: 1px solid var(--tp-common-black);
  color: var(--tp-common-black);
  &:hover {
    color: white;
  }
}

.tp-section-title-wrapper {
  max-width: 683px;
}

.tp-choose-us-2 {
  &-thumb-img1 {
    position: absolute;
    top: 8px;
    right: 15px;
    animation: bounce-thum-2 1s ease-in-out 0.1s forwards infinite alternate;
  }
  &-bg {
    &-s1 {
      position: absolute;
      top: 23px;
      left: 102px;
      animation: zoom-in-zoom-out 3.5s ease infinite;
    }
    &-s2 {
      position: absolute;
      top: 160px;
      left: 31px;
      animation: rotate-thum 3.5s infinite;
    }
  }
}
