@use "../../../utils" as *;

.tp-contact-2 {
  &-bg {
    background-repeat: no-repeat;
  }
  &-title {
    width: 634px;
    & h2 {
      color: var(--tp-common-white);
    }
  }
  &-button {
    .tp-btn {
      & span {
        transition: 0.4s;
      }
      &:hover {
        &::after {
          background: var(--tp-common-white);
          color: var(--tp-ff-body);
        }
        span {
          color: black;
        }
      }
    }
  }
  &-counter {
    background: var(--tp-common-white);
    padding: 45px 50px 28px;

    &-wrapper {
      gap: 20px;
      justify-content: end;
      padding-top: 13px;
      bottom: 8px;
      box-shadow: 0px 0px 60px 0px rgba(0, 8, 21, 0.1);
      -webkit-box-shadow: 0px 0px 60px 0px rgba(0, 8, 21, 0.1);
    }
    &-count {
      color: var(--tp-theme-primary);
      font-size: 48px;
      margin-bottom: 4px;
      letter-spacing: -1px;
    }
    &-paragraph {
      font-size: 18px;
      font-weight: 500;
      font-family: var(--tp-ff-heading);
    }
  }
  &-box {
    background: var(--tp-common-white);
    padding: 58px 52px;
    box-shadow: 0px 0px 60px 0px rgba(30, 22, 22, 0.06);
    margin-top: 13px;

    & input {
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 400;
      background: #f4f4f4;
      color: #767676;
      height: 58px;
      border: 1px solid rgb(235, 235, 235);
    }
    & textarea {
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 400;
      background: #f4f4f4;
      color: #767676;
      height: 110px;
      resize: none;
    }
  }
  &-title {
    color: var(--tp-theme-primary);
    margin-bottom: 50px;
  }
  &-btn {
    padding: 25px 0;
  }
  -bg-shape {
    position: absolute;
    top: 0;
    right: 0;
  }
  &-bg-shape {
    position: absolute;
    top: 0;
    right: 0;
  }
}
