@use "../../../utils" as *;

.tp-counter-2 {
  &-area {
    background: var(--tp-common-gray2);

    @media #{$lg, $md, $sm} {
      padding-top: 100px;
    }
    @media #{$xs} {
      padding-top: 100px;
    }
  }
  &-wrapper{
   
    @media #{$xs} {
      padding-bottom: 12px;
    }
  }
  &-icon {
    margin-bottom: 20px;
    & span {
      width: 128px;
      height: 128px;
      display: inline-block;
      background: var(--tp-common-white);
      color: var(--tp-theme-primary);
      border-radius: 50%;
      text-align: center;
      font-size: 56px;
      line-height: 146px;
      border: 1px solid var(--tp-border-4);
      cursor: pointer;
      transition: 0.4s;

      &:hover{
        color: var(--tp-common-white);
        background-color: var(--tp-theme-primary);
      }
    }
  }
  &-number {
    font-size: 50px;
    letter-spacing: -2px;
    margin-bottom: 6px;
  }
}
