@use "../../../utils" as *;

.tp-price-2 {
  &-color {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 60px 0px rgba(139, 111, 180, 0.08);
  }
  &-item {
    &-wrapper {
      padding: 50px 60px;
      &.active {
        background-color: var(--tp-common-black);
        top: -48px;

        .tp-price-2{
          &-item{
            &-heading{
              color: var(--tp-common-white);
            }
            &-icon{
              & span{
                color: var(--tp-common-white);
              }
          }
          &-text{
            & span{
              color: var(--tp-common-white);
            }
          }
          }
          &-icon{
            color: var(--tp-common-white) !important;
          }
          &-list{
            & ul{
              & li{
                color: var(--tp-common-white);
              }
            }
          }
        }
      }
    }
    &-icon {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      & span {
        color: var(--tp-heading-primary);
        font-weight: 700;
        font-size: 24px;
        font-family: var(--tp-ff-heading);
      }
    }
    &-heading {
      font-size: 50px;
      letter-spacing: -2px;
    }
    &-text {
      & span {
        color: var(--tp-theme-primary);
        font-weight: 700;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          height: 1px;
          width: 160px;
          background-color: var(--tp-grey-20);
          top: 74px;
          left: 0;
        }
      }
    }
  }
  &-icon {
    font-size: 62px !important;
    color: var(--tp-theme-primary) !important;
    position: relative;
    z-index: 1;
  }
  &-list {
    & ul {
      & li {
        display: flex;
        align-items: center;
        gap: 18px;
        color: var(--tp-heading-primary);

        &:not(:last-child) {
          margin-bottom: 13px;
        }
        &:nth-child(4) {
          color: var(--tp-text-body);
        }
        & i {
          color: var(--tp-theme-primary);
        }
      }
    }
  }
  &-shape {
    position: absolute;
    top: 23px;
    right: 0;
  }
}

