@use "../../../utils" as *;

.tp-technology-2 {
  &-area {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;

    @media #{$lg,$md, $sm, $xs} {
      // padding-bottom: 90px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: #12062c;
      opacity: 0.8;
      z-index: -1;
    }
  }
  &-bg-shape {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  &-tab {
    &-item {
      @media #{$sm, $xs} {
        display: inline-block !important;
        width: 100%;
      }
    }
    &-wrapper {
      & ul {
        margin-top: 121px !important;
        margin-bottom: 51px !important;
        & li {
          &:not(:last-child) {
            & button {
              @media #{$xs} {
                margin-right: 2px;
              }
              @media #{$sm} {
                margin-right: 2px;
              }
            }
          }
        }
      }
    }
    &-thumb {
      & img {
        @media #{$sm, $xs} {
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }
  &-tab {
    padding: 10px 45px;
    border-radius: 0px !important;
    font-weight: 700;
    font-size: 14px;
    background-color: var(--tp-common-white) !important;
    color: var(--tp-common-black);

    &.active {
      background: var(--tp-theme-primary) !important;
    }
    &:hover {
      color: var(--tp-common-gray);
    }

    @media #{$xs} {
      padding: 10px 24px;
      font-size: 12px;
    }
    @media #{$sm} {
      padding: 10px 40px;
    }

    &-icon {
      position: absolute;
      width: 60px;
      height: 60px;
      background: var(--tp-theme-primary);
      border-radius: 50%;
      text-align: center;
      color: var(--tp-common-white);
      line-height: 65px;
      padding-left: 3px;
      top: 50%;
      left: 113px;
      transform: translate(-50%, -50%);

      @media #{$sm, $xs} {
        left: 50%;
      }
    }
    &-content {
      margin-left: 30px;
      min-width: 330px;
      @media #{$lg,$md, $sm, $xs} {
        max-width: 358px;
      }
      @media #{$sm, $xs} {
        margin-left: 0;
      }
      &-title {
        color: var(--tp-common-white);
        margin-bottom: 22px;
      }
      &-list {
        padding-bottom: 12px;
      }
      &-dec {
        color: var(--tp-common-white);
        font-size: 16px;
        padding-top: 4px;
      }
    }
  }
  &-right {
    background: var(--tp-common-white);
    padding-top: 48px;
    padding-left: 59px;
    padding-bottom: 70px;

    @media #{$lg,$md, $sm, $xs} {
      padding-top: 36px;
      padding-left: 53px;
      padding-bottom: 44px;
    }
    @media #{$xs} {
      padding-left: 33px;
    }
  }
  &-pragraph {
    width: 405px;

    @media #{$xs} {
      width: 70%;
    }
    @media #{$sm} {
      width: 360px;
    }

    & p {
      padding-top: 16px;
    }
  }
  &-call {
    margin-left: 22px;
    &-icon {
      & a {
        width: 80px;
        height: 80px;
        background: var(--tp-theme-primary);
        display: inline-block;
        text-align: center;
        color: var(--tp-common-white);
        font-size: 32px;
        line-height: 92px;
        border-radius: 50%;

        @media #{$lg,$md, $sm, $xs} {
          width: 70px;
          height: 70px;
          line-height: 81px;
          font-size: 28px;
        }
      }
    }
    & span {
      font-size: 20px;
      font-weight: 700;
      font-family: var(--tp-ff-heading);
      margin-bottom: 4px;

      @media #{$lg,$md, $sm, $xs} {
        font-size: 18px;
      }
    }
    & a {
      font-size: 24px;
      color: var(--tp-heading-primary);
      font-weight: 700;
      font-family: var(--tp-ff-heading);

      &:hover {
        color: var(--tp-theme-primary);
      }

      @media #{$lg,$md, $sm, $xs} {
        font-size: 20px;
      }
    }
  }
}

.tp-technology-2-right-position {
  position: absolute;
  top: 119px;
  left: 54%;
  margin-left: 6px;

  @media #{$lg,$md, $sm, $xs} {
    position: unset;
    width: 585px;
    margin: 50px auto 0;
  }
  @media #{$sm, $xs} {
    width: unset;
  }
}

.tp-section-title-wrapper.technology-2 {
  max-width: 470px;
}

.tp-section-title.technology-2 {
  font-size: 48px;

  @media #{$lg,$md} {
    font-size: 40px;
  }

  @media #{$xs} {
    font-size: 28px;
  }
  @media #{$sm} {
    font-size: 35px;
  }
}

.tp-section-subtitle.style-2 {
  margin-bottom: 5px;
}
