@use "../../../utils" as *;


.tp-brand-4-slider-item{
  margin-top: 34px;
  & ul li {
    list-style: none;

    & span {
      font-size: 60px;
      letter-spacing: -2px;
      color: var(--tp-heading-2);
      font-weight: 700;
      font-family: var(--tp-ff-heading);
      display: inline-block;
    }
  
    & img {
      display: inline-block;
      margin: 0 58px;
      margin-top: 0px;
      margin-top: -26px;
    }
  }
}